<h2>Registration Successful ✅</h2>

<p>Name: @ViewBag.FullName</p>
<p>Username: @ViewBag.Username</p>
<p>Email: @ViewBag.Email</p>
<p>Mobile: @ViewBag.Mobile</p>
<p>DOB: @ViewBag.DOB</p>
<p>Role: @ViewBag.Role</p>
<p>Gender: @ViewBag.Gender</p>